body{
  background-color: #121212;
	color: white;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Poppins",sans-serif;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-top: 0.9rem;
 	margin-bottom: 1rem;
	color: #f595fe;
}

.logo h1{
	display: flex;
	font-size: 3.5rem;
	background:linear-gradient(90deg,#9c4bed,#c77dff,#e39ffe);
	color: #121212;
	border-radius: 9999px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.5rem;
	line-height: 1;
}

.top-2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
}

.timing{
	font-size: 3rem;
	color: #f595fe;
	margin-left: 2rem;
	margin-right: 65rem;
}

.clock-wrapper svg{
filter:drop-shadow(0 0 4px #f595fe);
}

#toggle-button, #toggle-button img{
	width: 4.5rem;
	height: 4.5rem;
	background-color: #e39ffe;
	border: none;
	border-radius: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.typing-area{
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 1rem auto 0;
	text-align: center;

	height: 15rem;
	overflow: hidden;
	}

.typing-area p{
	font-size: 3.8rem;
	line-height: 1.3;
	color: #6f6f78;
	max-width: 1000px;
}

#input-box{
	opacity: 0;
}

.clock-wrapper{
    width:170px;
    height:170px;
		display:flex;
    justify-content:center;
    align-items:center;
}


.progress{
	 width: 120px;
  height: 120px;
	border-radius: 50%;
	position: absolute;
	background:conic-gradient(white 360deg,#121212 0deg);
}