body{
  background-color: #121212;
	color: #ffffff;
}

*{
	margin: 0;
	padding: 0;
	font-family: "Poppins",sans-serif;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-top: 0.9rem;
 	margin-bottom: 1rem;
	color: #f595fe;
}

.logo h1{
	display: flex;
	font-size: 3.5rem;
	background:linear-gradient(90deg,#9c4bed,#c77dff,#e39ffe);
	color: #121212;
	border-radius: 9999px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.5rem;
	line-height: 1;
}

.top-2{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
}

.timing{
	font-size: 3rem;
	color: #f595fe;
	margin-left: 2rem;
	margin-right: 65rem;
}

.clock-wrapper svg{
filter:drop-shadow(0 0 4px #f595fe);
}

#toggle-button, #toggle-button img{
	width: 4.5rem;
	height: 4.5rem;
	background-color: #e39ffe;
	border: none;
	border-radius: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
}

.typing-area{
	width: 90%;
	margin: 4rem auto 0;
	position: relative;
	height: 240px;
	overflow: hidden;
	}

.typing-area p{
	font-size: 2.8rem;
	line-height: 60px;
	color: #6f6f78;
	transition: transform 0.3s ease;
}

#input-box{
	opacity: 0;
}

.clock-wrapper{
    width:170px;
    height:170px;
		display:flex;
    justify-content:center;
    align-items:center;
}


.progress{
	width: 120px;
  height: 120px;
	border-radius: 50%;
	position: absolute;
	background:conic-gradient(white 360deg,#121212 0deg);
}

.correct{
	color: #e39ffe;
}

.wrong{
	color: rgb(255, 92, 92);
}

.remaining{
	color: #6f6f78;
}

#text_area{
	width: 90%;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
	text-align: center;
}

#pop-up{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 90vh;
	background-color: rgba(0,0,0,0.85);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 99999;
}

.popup-box{
	background-color: #a2a2a200;
	padding: 1.3rem;
	border-radius: 2rem;
	color: white;
	text-align: center;
	width: 24rem;
	border: 2px solid #c77dff;
	min-height: 18.75rem;
	box-shadow: 0 0 20px #c77dff;
}

.popup-box h2{
	font-size: 2rem;
	margin-bottom: 1.2rem;
}

.popup-box p{
	font-size: 1.2rem;
	margin: 0.2rem;
}

#restart-btn{
	border: none;
	border-radius: 2rem;
	padding: 1.1rem;
	font-size: 2rem;
	margin-top: 2rem;
	cursor: pointer;
	font-weight: 500;
}

#restart-btn:hover{
	transform: scale(1.08);
	transition: 1s;
}

#user_typing_details{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#message{
	color: #f595fe;
	margin-top: 1.4rem;
}

.details p{
	display: inline-flex;
}

#animal-img{
	width: 11.25rem;
	height: 11.25rem;
	object-fit: contain;
}